<%- include("partial/header.ejs") %>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Welcome to Blog It.</h1>
    <div class="mx-auto">
      <p class="lead mb-5" id="p1">Blog your activities, ideas, thoughts without any worry.</p>
      </div>
    </div>
  </div>

<%- include("partial/footer.ejs") %>